fastapi 
uvicorn 
python-socketio 
openai 
python-dotenv
langgraph
langchain
langsmith
ipykernel
python-dotenv
langchain_google_genai
langchain-groq
langchain-tavily
langchain_community
langchain_huggingface
pandas
sentence-transformers
chromadb
langchain-chroma
pymupdf
pypdf
langchain-huggingface
pyyaml
streamlit
